<div>
  <form [formGroup]="newItem" (ngSubmit)="storeItem()">

    <label>
      Name:
      <input type="text" formControlName="name">
    </label>

    <label>
      Number:
      <input type="text" formControlName="number">
    </label>

    <label>
      Position:
      <input type="text" formControlName="position">
    </label>

    <label>
      Description:
      <input type="text" formControlName="description">
    </label>

    <button type="submit" [disabled]="!newItem.valid"> STORE ME! </button>

  </form>

</div>
