<div *ngFor="let member of this.fantasyService.membersDatabase">
  <div class=" card ">
    <div class="container">
      <h4><b>{{member.name}}</b></h4>
      <p class="price"> {{member.number}}</p>
      <p class="price">{{member.position}}</p>
      <p>{{member.description}}</p>
      <p>
        <button (click)="helloWorld()">View my info (prints to console)</button>
      </p>
    </div>
  </div>
</div>
