/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.row
{
  grid-row: auto;
}
.column{
  float: left;
  grid-column: auto;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  position: relative;
  padding: 2px 16px;
}

/* Add rounded corners to the top left and the top right corner of the image */
.card img {
  border-radius: 5px 5px 0 0;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.oneThird
{
  width: 33.33%;
}
.oneForth
{
  width: 25%;
}
.oneFifth
{
  width: 20%;
}

.pageTab
{
  text-decoration: none;
  text-align: center;
  color: black;
}
.pageTab :hover
{
  text-decoration: none;
  color: white;
  background-color: darkslategrey;
}
routerLink
{

}
